name: publish
on:
  push:
    branches:
      - master
jobs:
  release:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org'
      - name: publish
        run: npm publish --access src
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
